{% extends '_layout_simple.html' %}

{% block title %}
Annotator
{% endblock %}

{% block style %}
<!-- jquery UI style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<!-- code mirror style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css" />
<meta name="metro4:init" content="false">

<style id="app_style">
{% include 'css/box.css' %}
html,body {
    overflow: hidden;
    font-size: 12px;
}
.h-splitter {
    width: 5px;
    height: 100%;
    background-color: #e9e9e9;
}
.v-splitter {
    width: 100%;
    height: 5px;
    background-color: #e9e9e9;
}
#mui_filelist {
    overflow-y: hidden;
}
#mui_filelist_toolbar {
    height: 32px;
    border-bottom: 1px solid #cccccc;
}
#mui_filelist_list {
    height: calc(100% - 32px);
    overflow-y: auto;
}
#mui_texteditor {
    height: 100%;
}
#mui_dtdlist {
    overflow-y: auto;
}
#mui_annlist {

}
#app_hotpot {
    margin-top: 0px;
}
.dropzone:hover {
  border-color: rgb(0, 89, 255);
  font-weight: bold;
}
.disabled-zone {
    opacity: .5;
}
.zone-text {
    margin-top: 12px; 
    line-height: 14px;
}
#dropzone_dtd {
    width: 248px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 12px;
    border: 1px dotted rgb(17, 61, 110);
    border-radius: 4px;
}
#dropzone_ann {
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 12px;
    border: 1px dotted rgb(17, 61, 110);
    border-radius: 4px;
}
.tag-list-row {
    
}
.badge-shortcut {
    padding: 1px 1px 1px 2px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #EAEAEA;
    border: 1px solid #EFEFEF;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.mark-tag {
    border-radius: 3px;
    padding: 1px 3px;
    margin-right: 0;
    cursor: pointer;
    border: 1px solid white;
}
.mark-tag:hover{
    border-color: red;
}
.mark-tag-hover {    
    border: 2px dotted red;
}
.mark-tag-info {
    font-size: .75em;
    margin: 0 5px 0 0;
    padding: 0px 2px;
    background: white;
    border-radius: 4px;
}
.mark-tag-info-inline {
}
.mark-tag-info-offset {
    position: relative;
    right: -.7em;
    top: -.7em;
    font-size: .85em;
    color: transparent;
    border-radius: .5em;
}
.mark-tag:hover .mark-tag-info-offset{
    display: inline;
    position: relative;
    right: -.7em;
    top: -.7em;
    font-size: .85em;
    color: grey;
    background-color: white;
}
.mark-tag:hover .mark-tag-info-offset:hover {
    color: black;
    background-color: white;
}
.mark-tag-text {
    margin-right: -.5em;
}
.mark-round {
    border-radius: 8px;
    padding: 0 1px 0 0;
    color: black !important;
}
#cm_editor {
    height: 100%;
}
.CodeMirror {
    height: 100%;
    font-size: 14px;
}
.CodeMirror-activeline-background {
    background-color: #e3f3fb;
}
/* for the pop menu */
#popmenu_tag {
    z-index: 998;
    position: absolute;
    padding: 1px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* for the context menu */
#ctxmenu_sel {
    z-index: 999;
    position: absolute;
    padding: 1px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ctxmenu-item {
    padding: 1px;
    cursor: pointer;
}
.ctxmenu-item:hover {
    background-color: rgb(221, 221, 221);
}
.ui-widget-header {
    border: 0;
    height: 2em;
    line-height: 2em;
    text-indent: 0.5em;
    background-color: #EAEAEA;
}
.file-list {
    font-size: .9em;
    padding: 2px;
}
.file-list li {
    border-bottom: 1px dotted #eeeeee;
}
.file-list li.file-selected {
    font-weight: bold;
    background-color: #EFEFEF;
    border-left: 3px solid #1ba1e2;
    padding-left: 5px;
}
.file-list-item {
    margin-bottom: 1px;
}
.file-list-item:hover {
    background-color: #e9e8e8;
}
.file-list-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.file-list-item-name-unsaved {
    font-style: italic;
}
/* tag list */
.tag-list {
    font-size: 1em;
    padding: 2px;
}
.tag-list li {
    padding: 2px 0;
    border-bottom: 1px dotted #eeeeee;
}
.tag-list li:hover {
    background-color: #EAEAEA;
}
.tag-list-row-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tag-list-row-count-0 {
    color: #bdbdbd;
    font-size: .95em;
}
.tag-table {
    font-size: .9em;
}
.tag-table th, 
.tag-table td {
    padding: 2px;
}
.tag-table th {
    border-bottom: 1px solid #999999;
}
.tag-table td {
    border-bottom: 1px dotted #aaaaaa;
}
.tag-table tr:hover {
    background-color: #EAEAEA;
}
.tag-table td.td-text {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tag-attr-box {
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 1px 5px;
}
.tag-attr-box:hover{
    background-color: rgb(209, 209, 209);
}
.tag-attr-name {
    font-size: .9em;
}
input[type=text].tag-attr-input {
    padding: 0 3px;
    width: auto;
    max-width: 120px;
    line-height: .9em;
    height: 1.5em;
    display: inline;
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid #999999;
}
select.tag-attr-select {
    padding: 0 3px;
    width: auto;
    max-width: 120px;
    line-height: .9em;
    height: 1.5em;
    display: inline;
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid #999999;
}
.btn {
    padding: 2px 4px;
    border-top: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}
.btn:hover {
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #858585;
    border-bottom: 1px solid #858585;
}
.btn:active {
    border-top: 1px solid #858585;
    border-left: 1px solid #858585;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}
.btn-xs {
    font-size: .9em;
}
.btn-red {
    color: #b99090;
}
.btn-red:hover {
    color: red;
}
input[type=text].ipt-xs {
    font-size: 1em;
    line-height: 1em;
    height: 1.4em;
    padding: 2px 3px;
    max-width: 80px;
    display: inline;
    border: 0;
    border: 1px solid #999999;
}
.clr-fg-unsaved {
    color: #da8f03;
}
</style>
{% endblock %}

{% block main %}

<div id="start-screen">
    <h1>
        <i class="fa fa-highlighter"></i>
        Annotator
    </h1>
    <div id="ss-msg">Loading data and initializing GUI ...</div>
</div>

<div id="app_hotpot">

    <div class="container-fluid bg-cyan fg-white mb-1">
        <div class="row">
            <div class="cell">
                <i class="fa fa-code"></i>
                Annotator
            </div>
        </div>
    </div>

    <nav data-role="ribbonmenu">
        <ul class="tabs-holder">
            <li><a href="#section-1-1">Files</a></li>
            <li><a href="#section-1-2">Schema</a></li>
            <!-- <li><a href="#section-1-3">IAA</a></li> -->
            <li><a href="#section-1-4">IE Ruleset</a></li>
        </ul>

        <div class="content-holder">
            <div class="section" id="section-1-1">

                <div class="group">

                    <div id="dropzone_dtd" class="dropzone">
                        <div v-if="has_dtd" class="zone-text">
                            <b>{{ dtd.name }}</b><br>
                            {{ dtd.etags.length }} NC Extend Tags<br>
                            {{ dtd.ltags.length }} Link Tags
                        </div>
                        <div v-else>
                            Drop <b>Schema DTD</b> File Here
                        </div>
                    </div>

                    <!-- <button class="ribbon-button" 
                        v-on:click="open_select_remote_dialog">
                        <span class="icon">
                            <i class="fa fa-mixcloud"></i>
                        </span>
                        <span class="caption">Remote</span>
                    </button> -->

                    <span class="title">Schema DTD File (.dtd)</span>
                </div>

                <div class="group">

                    <div id="dropzone_ann" 
                        v-bind:class="{'disabled-zone': !has_dtd, 'dropzone': has_dtd}">
                        <div v-if="ann_idx != null" class="zone-text">
                            <b>{{ anns[ann_idx]._fh.name }}</b><br>
                            {{ anns[ann_idx].text.length }} chars<br>
                            {{ anns[ann_idx].tags.length }} tags
                        </div>
                        <div v-else>
                            Drop <b>Annotation</b> File Here
                        </div>
                    </div>

                    <button class="ribbon-button"
                        v-on:click="open_files">
                        <span class="icon">
                            <i class="far fa-file-code"></i>
                        </span>
                        <span class="caption">Load Files</span>
                    </button>

                    <span class="title">Annotation File (txt / xml)</span>
                </div>

                <div v-if="ann_idx != null"
                    class="group">
                    <button class="ribbon-button"
                        v-on:click="save_xml">
                        <span class="icon">
                            <i class="far fa-save"></i>
                        </span>
                        <span class="caption">Save</span>
                    </button>
 
                    <button class="ribbon-button"
                        v-on:click="download_xml">
                        <span class="icon">
                            <i class="far fa-copy"></i>
                        </span>
                        <span class="caption">Save as</span>
                    </button>
                    <a id="downloadAnchorElem" style="display:none"></a>

                    <span class="title">Download</span>
                </div>

                <!-- <div class="group">
                    <div>
                        <input type="radio" name="mode" data-role="radio" data-caption="Normal" checked><br>
                        <input type="radio" name="mode" data-role="radio" data-caption="Discontiguous" >
                    </div>
                    <span class="title">Annotation Mode</span>
                </div> -->

                <div class="group">

                    <button class="ribbon-button" 
                        v-on:click="show_about">
                        <span class="icon">
                            <i class="fa fa-info"></i>
                        </span>
                        <span class="caption">About</span>
                    </button>

                    <span class="title">Help</span>
                </div>

            </div>

            <!-- the section for DTD schema -->
            <div class="section" id="section-1-2">

                <div v-if="has_dtd" 
                    class="group">

                    <button class="ribbon-button"
                        v-for="etag in dtd.etags">
                        <span class="icon">
                            <i class="fa fa-cube"></i>
                        </span>
                        <span class="caption">{{ etag.name }}({{ etag.id_prefix }})</span>
                    </button>

                    <span class="title">Extend Tags</span>
                </div>
                

                <div v-if="has_dtd && dtd.ltags.length > 0" 
                    class="group">

                    <button class="ribbon-button"
                        v-for="ltag in dtd.ltags">
                        <span class="icon">
                            <i class="fa fa-link"></i>
                        </span>
                        <span class="caption">{{ ltag.name }}</span>
                    </button>

                    <span class="title">Link Tags</span>
                </div>

            </div>

            <!-- the section for IAA operations -->
            <!-- <div class="section" id="section-1-3">

            </div> -->

            <!-- the section for IE ruleset -->
            <div class="section" id="section-1-4">

            </div>
        </div>

    </nav>

    <div id="main_ui" class="container-fluid" style="height: 200px;">
        <div class="d-flex flex-row flex-justify-start flex-align-start w-100"
            style="height: 60%;">
            <div id="mui_filelist"
                class="d-flex flex-column flex-justify-start flex-align-start h-100"
                style="width: 250px;">
                <div id="mui_filelist_toolbar"
                    class="d-flex flex-row flex-justify-start flex-align-center w-100">
                    <div class="d-flex flex-row flex-justify-start flex-align-center mr-1">
                        <button class="btn-xs">
                            <i class="fa fa-sign-out-alt"></i>
                            Remove All
                        </button>
                    </div>
                    <div class="d-flex flex-row flex-justify-start flex-align-center mr-1">
                        <input type="text" class="ipt-xs"
                            v-model="fn_pattern">
                    </div>
                    <div class="d-flex flex-row flex-justify-start flex-align-center">
                        <span v-if="anns.length > 0">
                            {{ anns.length }} files
                        </span>
                    </div>
                </div>
                <div id="mui_filelist_list" 
                    class="d-flex flex-column flex-justify-start flex-align-start w-100 h-100">

                    <ul class="w-100 file-list">
                        <li v-for="ann, idx in anns"
                            v-show="idx == ann_idx || is_match_filename(ann._fh.name)"
                            v-bind:class="{'file-selected':idx == ann_idx}"
                            class="file-list-item">
                            <div v-bind:title="ann._fh.name"
                                class="d-flex flex-row flex-justify-between">
                                <div class="file-list-item-name"
                                    v-bind:class="{'file-list-item-name-unsaved':!ann._has_saved}"
                                    v-on:click="set_ann_idx(idx)">
                                    <i v-show="!ann._has_saved" 
                                        class="fa fa-map-marker-alt clr-fg-unsaved mr-1">
                                    </i>
                                    {{ ann._fh.name }}
                                </div>

                                <div class="d-flex flex-row">
                                    <div class="mr-2">
                                        {{ ann.tags.length }}
                                    </div>

                                    <div>
                                        <a v-on:click="remove_ann_file(idx)"
                                            class="btn btn-red btn-xs"
                                            href="javascript:void(0);">
                                            <i class="fa fa-sign-out-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="h-100 h-splitter">
            </div>

            <div id="mui_texteditor"
                style="width: calc(100% - 250px); height: calc(100% - 10);">
                <div id="cm_editor" class="w-100">
                    
                </div>
            </div>
            
        </div>
        <div class="v-splitter"></div>
        <div class="d-flex flex-row flex-justify-start flex-align-start w-100"
            style="height: 40%;">
            <div id="mui_dtdlist" 
                class="d-flex h-100"
                style="width: 250px;">
                <ul v-if="has_dtd"
                    class="w-100 tag-list">

                    <li v-on:click="update_tag_table(null)"
                        class="tag-list-row d-flex flex-row flex-justify-between">
                        <div>
                            <span class='mif-folder fg-red'></span>
                            All Tags
                        </div>
                        <div class="mr-1">
                            {{ count_n_tags(null) }}
                        </div>
                    </li>

                    <li v-for="etag in dtd.etags"
                        v-on:click="update_tag_table(etag)"
                        class="tag-list-row d-flex flex-row flex-justify-between">
                        <div class="tag-list-row-name">
                            <i class="fa fa-tag"
                                v-bind:class="'fg-tag-' + etag.name">
                            </i>
                            <span v-if="etag.hasOwnProperty('shortcut')"
                                class="badge-shortcut mr-1">
                                {{ etag.shortcut }}
                            </span>
                            <span>
                                {{ etag.name }}
                            </span>
                        </div>
                        <div class="mr-1"
                            v-bind:class="'tag-list-row-count-'+count_n_tags(etag)">
                            {{ count_n_tags(etag) }}
                        </div>
                    </li>

                </ul>
            </div>

            <div class="h-100 h-splitter">
            </div>

            <div id="mui_annlist" 
                style="overflow-y: auto; width: calc(100% - 250px);"
                class="d-flex flex-justify-start flex-align-start h-100">
                <table v-if="ann_idx != null" class="tag-table w-100 mt-0 mb-0">
                    <thead>
                        <tr>
                            <th>Tag</th>
                            <th>ID</th>
                            <th>Spans</th>
                            <th>Text</th>
                            <th>Attributes</th>
                        </tr>
                    </thead>
                    <tbody style="overflow-y: auto;">
                        <tr v-for="tag, tag_idx in anns[ann_idx].tags">
                            <td>
                                <i class="fa fa-tag"
                                    v-bind:class="'fg-tag-' + tag.tag">
                                </i>
                                {{ tag.tag }}
                            </td>
                            <td>{{ tag.id }}</td>
                            <td>{{ tag.spans }}</td>
                            <td class="td-text">{{ tag.text }}</td>
                            <td class="d-flex flex-row flex-justify-start flex-align-start">
                                <div v-for="(attlist, attlist_idx) in dtd.tag_dict[tag.tag].attlists"
                                    v-if="!['id','spans','text','tag'].contains(attlist.name)"
                                    class="tag-attr-box mr-1 d-flex flex-column">
                                    <div class="tag-attr-name">
                                        {{ attlist.name }}
                                    </div>
                                    
                                    <div v-if="attlist.vtype == 'list'">
                                        <select class="tag-attr-select"
                                            v-model="anns[ann_idx].tags[tag_idx][attlist.name]">
                                            <option v-for="val in attlist.values"
                                                v-bind:value="val">
                                                {{ val }}
                                            </option>
                                        </select>
                                    </div>
                                    <div v-else-if="attlist.vtype == 'text'">
                                        <input type="text"
                                            class="tag-attr-input"
                                            v-model="anns[ann_idx].tags[tag_idx][attlist.name]">
                                    </div>
                                    <div v-else>
                                        <input type="text"
                                            class="tag-attr-input"
                                            v-model="anns[ann_idx].tags[tag_idx][attlist.name]">
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            
    </div>
    

    <!-- the context menu -->
    <div v-if="has_dtd"
        id="ctxmenu_sel">
        <!-- <li class="ui-widget-header"
            v-on:click="ctxmenu_close">Tags:</li> -->
        <li class="ctxmenu-item"
            v-for="etag, tag_idx in dtd.etags"
            v-on:click="ctxmenu_add_tag(etag)">
            <div v-bind:id="'ctxmenu-item-' + etag.name">
                <i v-bind:class="'fa fa-tag fg-tag-' + etag.name"></i>
                <span v-if="etag.hasOwnProperty('shortcut')"
                    class="badge-shortcut mr-1">
                    {{ etag.shortcut }}
                </span>
                <span>
                    {{ etag.name }}
                </span>
            </div>
        </li>
    </div>
    <div v-else
        id="ctxmenu_sel">

    </div>

    <!-- the tag click menu -->
    <div v-if="has_dtd"
        id="popmenu_tag">
        <li class="ui-widget-header"
            v-on:click="ctxmenu_close">
            TAG <i class="fa fa-tag"></i>
            <b>{{ clicked_tag_id }}</b>
        </li>
        <li class="ctxmenu-item"
            v-on:click="popmenu_del_tag()">
            <div>
                <i class="far fa-trash-alt"></i>
                Delete this tag
            </div>
        </li>
    </div>
    <div v-else
        id="popmenu_tag">

    </div>
    
</div>
{% endblock %}

{% block script %}
<script>
var isIE = /*@cc_on!@*/false || !!document.documentMode;
var isCHROME = false;
var CHROME_VERSION = null;
var CHROME_VERSION_MAJOR = null;
if (isIE) {
    document.getElementById('ss-msg').innerHTML = 'The visualization used in this website require advanced web technologies, which are <b>NOT</b> supported by Internet Explorer.<br>Try using Google Chrome, Apple Safari, Mozilla Firefox or other modern browsers to access:<br><span style="font-size:1.2em;">' + location.href + '</span>';
} else {
    let user_agent = navigator.userAgent.toLowerCase();
    let mgs = user_agent.match(/chrome\/([\d\.]+)/);
    if (mgs == null) {
    } else {
        isCHROME = true;
        CHROME_VERSION = mgs[1];
        CHROME_VERSION_MAJOR = parseInt(CHROME_VERSION.split('.')[0]);
    }
}
</script>

<!-- jszip -->
<script src="https://stuk.github.io/jszip/dist/jszip.js"></script>
<!-- filesaver -->
<script src="./static/lib/filesaver/FileSaver.js"></script>
<!-- dayjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.36/dayjs.min.js"></script>
<!-- brat -->
<script src="./static/lib/brat/lib/head.load.min.js"></script>
<!-- js cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<!-- jquery-ui -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- code mirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
<!-- code mirror addon -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/selection/active-line.min.js"></script>

<script>

// The file helper 
{% include 'js/fs_helper.js' %}

// The DTD parser
{% include 'js/dtd_parser.js' %}

// The Ann parser
{% include 'js/ann_parser.js' %}

// The Vue APP
{% include 'js/app_hotpot.js' %}

var jarvis = {
    init: function() {
        // too bad ...
        if (isIE) { return 0; }

        if (!isCHROME) { 
            this.ssmsg('Please use latest Google Chrome Browser');
            return 0; 
        }

        app_hotpot.init();

        jarvis.ssmsg('Initializated')
        setTimeout('jarvis.ssclose();', 500);

        $(window).resize(function() {
            app_hotpot.resize();
        });
    },

    msg: function(s, cls) {
        if (typeof(cls) == 'undefined') {
            cls = 'info';
        }
        s = '<i class="fa fa-info-circle"></i> ' + s; 
        var notify = Metro.notify;
        notify.setup({
            width: 300,
            timeout: 8000,
            animation: 'swing'
        });
        notify.create(s, null, { 
            cls: cls
        });
    },

    ssmsg: function(msg) {
        $('#ss-msg').html(msg);
    },

    ssclose: function() {
        $('#start-screen').hide();
    },
}


$(document).ready(function () {
    jarvis.init();
})
</script>
{% endblock %}