{% extends '_layout.html' %}

{% block title %}
N3C Demo
{% endblock %}

{% block style %}
<!-- jquery UI style -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<meta name="metro4:init" content="false">

<!-- Brat style -->
<link rel="stylesheet" type="text/css" href="./static/lib/brat/css/style.css"/>

<style>
{% include 'css/box.css' %}

#fm_chfila {
    margin-top: 70px;
}

#navi {
    width: 120px;
    height: 100%;
    padding: 5px;
    margin: 0 5px 0 0;
    background-color: whitesmoke;
    border-right: 1px solid #efefef;
}

#infobox-upload-and-test {
    width: 800px !important;
}

/* for rule editor */
#rule-editor {
    font-size: 13px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#rule-pane {
    width: 500px;
    height: 100%;
    padding: 5px;
    margin: 0 5px 0 0;
    border-right: 1px dotted whitesmoke;
    overflow-y: auto;
}

#context-pane {
    width: 300px;
    height: 100%;
    padding: 5px;
    margin: 0 5px 0 0;
    border-right: 1px dotted whitesmoke;
    overflow-y: auto;
}

#rsregexp-pane {
    width: calc(100% - 800px);
    height: 100%;
    padding: 5px;
    overflow-y: auto;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.rsregexp-file {
    width: 280px;
    margin: 0 15px 5px 0;
}

.rsregexp-text {
    width: calc(100% - 10px);
    margin: 5px 0 5px 0;
    padding: 5px;
    border: 1px solid #CCCCCC;
    font-size: 1em;
}

.rule-input {
    font-size: 12px;
    /* padding: 0 0 2px 0; */
    border: 0 !important;
    width: 190px;
    border-bottom: 1px solid lightgrey !important;
}

.matchrule {
    margin: 0 0 5px 0;
    border: 0 !important;
}

.matchrule label {
    color: #999999;
}

#drop_zone {
    width: calc(100% - 10px);
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
    color: #666666;
}

#drop_zone:hover {
    background: #EAEAEA;
    color: #000000;
}

.rulepack-line {
    padding: 2px 0;
    margin: 0 5px 0 0;
    border-bottom: 1px dotted #a9a9a9;
}
.rulepack-line:hover {
    background-color: #EAEAEA;
}

/* for easy editor */

#easy-editor {
    font-size: 13px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#er-pane {
    width: 100%;
}
.er-card {
    width: 300px;
}
.er-card-norm {
    width: 130px;
    font-size: 12px;
    border: 0 !important;
    border-bottom: 1px solid lightgrey !important;
}
.er-card-type {
    width: 110px;
    font-size: 12px;
    padding: 1px 3px;
    border: 1px solid lightgrey !important;
}
.er-card-text {
    width: calc(100% - 10px);
    margin: 5px 0 5px 0;
    padding: 5px;
    border: 1px solid #CCCCCC;
    font-size: .9em;
    font-family: 'Courier New', Courier, monospace;
}
</style>
{% endblock %}

{% block main %}

<div id="infobox-upload-and-test" class="info-box" data-role="infobox">
    <span class="button square closer"></span>
    <div class="info-box-content">
        <h5>Ruleset Test</h5>
        <p class="text-sm">Due to server load and other issue, the testing may take a few minutes.</p>
        <div class="row">
            <div class="cell-9">
                <textarea id="text-for-test" rows="5" style="width: 100%;">The patient had a dry cough and fever or chills yesterday. He is also experiencing new loss of taste today and three days ago. No sore throat.</textarea>
            </div>
            <div class="cell-3">
                <p>Document Date: <input class="form-control" type="text" id="datepicker" size="20"></p>
                <p>
                    <button id="btn-upload-and-test" class="button primary" onclick="fm_chfila.upload_and_test();">Test</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <div id="fig_bratvis">

                </div>
                <p style="margin-top: 1em; font-size: .8em; text-align: right;"> 
                    Powered by <a href="https://brat.nlplab.org/embed.html" target="_blank">brat</a>. 
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /#infobox-upload-and-test -->


<div id="fm_chfila">

    <div id="infobox-select-project-rulepack" class="info-box" data-role="infobox">
        <span class="button square closer"></span>
        <div class="info-box-content">
            <div class="row">
                <div class="col">
                    <h5>Rule Package List | {{ rulepacks.length }} rule packages</h5>
                    <div style="max-height: 500px; overflow-y: auto;">
                        <div class="rulepack-line d-flex flex-row justify-content-between"
                            v-for="rp in rulepacks">
                            <div>
                                <div style="color: #999999; font-size: 9px;">
                                    Last update: {{ rp.date_updated }}
                                    (Created: {{ rp.date_created }})
                                </div>
                                <div style="text-indent: 1em;">{{ rp.title }}</div>
                            </div>
                            <div>
                                <button class="button primary mini rounded"
                                    v-on:click="open_rulepack(rp.id)">
                                    <i class="fa fa-book"></i>
                                    Open
                                </button>
                                <button class="button danger mini rounded"
                                    v-on:click="del_rulepack(rp.id, rp.title)">
                                    <i class="fa fa-ban"></i>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#infobox-select-project-rulepack -->

    <div class="container-fluid bg-cyan fg-white mb-1">
        <div class="row">
            <div class="cell">
                <i class="fa fa-edit"></i>
                Rule Editor
            </div>
        </div>
    </div>

    <nav data-role="ribbonmenu">
        <ul class="tabs-holder">
            <li><a href="#section-1-1">Rule Package</a></li>
        </ul>

        <div class="content-holder">
            <div class="section" id="section-1-1">
                <div class="group">

                    <button class="ribbon-button"
                        v-on:click="switch_mode('easy')">
                        <span class="icon">
                            <i class="far fa-edit"></i>
                        </span>
                        <span class="caption">Easy Mode</span>
                    </button>

                    <button class="ribbon-button"
                        v-on:click="switch_mode('full')">
                        <span class="icon">
                            <i class="fa fa-th"></i>
                        </span>
                        <span class="caption">Full Mode</span>
                    </button>

                    <span class="title">UI Mode</span>
                </div>

                <div class="group">

                    <button class="ribbon-button"
                        v-on:click="create_pack">
                        <span class="icon">
                            <i class="far fa-file"></i>
                        </span>
                        <span class="caption">New</span>
                    </button>

                    <!-- <button class="ribbon-button" v-on:click="open_prdialog">
                        <span class="icon">
                            <i class="far fa-folder-open"></i>
                        </span>
                        <span class="caption">Open</span>
                    </button> -->

                    <button class="ribbon-button" v-on:click="open_sample">
                        <span class="icon">
                            <i class="far fa-file-alt"></i>
                        </span>
                        <span class="caption">COVID-19</span>
                    </button>

                    <span class="title">Rule Package</span>
                </div>

                <div class="group">
                    <div class="form-group">
                        <label style="font-size: .9em; margin: 0;">Package Name</label>
                        <input v-if="ui.mode == 'full'"
                            type="text" style="width: 200px;" placeholder="Rule package name" v-model="rulepack.name">
                        <input v-if="ui.mode == 'easy'"
                            type="text" style="width: 200px;" placeholder="Rule package name" v-model="easypack.name">
                    </div>
                    <!-- <button class="ribbon-button"
                        v-on:click="save_rulepack">
                        <span class="icon">
                            <i class="far fa-save"></i>
                        </span>
                        <span class="caption">Save</span>
                    </button>
                    <button class="ribbon-button"
                        v-on:click="savecopy_rulepack">
                        <span class="icon">
                            <i class="fa fa-copy"></i>
                        </span>
                        <span class="caption">Save a Copy</span>
                    </button> -->

                    <span class="title">Current Package ({{ rulepack_state }})</span>
                </div>

                <div class="group">
                    <button class="ribbon-button"
                        v-on:click="download_pack">
                        <span class="icon">
                            <i class="fa fa-file-code"></i>
                        </span>
                        <span class="caption">As JSON</span>
                    </button>
                    <a id="downloadAnchorElem" style="display:none"></a>

                    <button class="ribbon-button"
                        v-on:click="download_mtrs">
                        <span class="icon">
                            <i class="fa fa-file-archive"></i>
                        </span>
                        <span class="caption">As ZIP</span>
                    </button>

                    <span class="title">Download</span>
                </div>

                <div class="group">

                    <button class="ribbon-button" v-on:click="show_upload_and_test">
                        <span class="icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="caption">Test Rules</span>
                    </button>

                    <span class="title">Upload</span>
                </div>

                <div class="group">

                    <button class="ribbon-button" v-on:click="show_about">
                        <span class="icon">
                            <i class="fa fa-book"></i>
                        </span>
                        <span class="caption">About</span>
                    </button>

                    <span class="title">Help</span>
                </div>

            </div>

        </div>
    </nav>

    <div id="rule-editor" class="container-fluid"
        v-if="ui.mode == 'full'">
        <div class="row">
            <div class="cell d-flex flex-row">              
                <div id="context-pane">
                    <div class="box">
                        <div class="box-header">
                            <h4 title="The contexts for extracting concepts">
                                <i class="fa fa-border-all"></i>
                                Contexts
                            </h4>
                            <div>
                                <button v-on:click="add_context">
                                    <i class="fa fa-plus-circle"></i>
                                    Add Context
                                </button>
                            </div>
                        </div><!-- box-header -->

                        <div v-for="context in rulepack.contexts" class="box rsregexp-file">
                            <div class="box-header">
                                <h4>
                                    <i class="far fa-file"></i>
                                    <input class="rule-input" v-model="context.name">
                                </h4>
                                <div>
                                    <button v-on:click="del_context(context.name)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div><!-- /.box-header -->

                            <div class="box-body">
                                <textarea class="rsregexp-text" rows="12" v-model="context.text"></textarea>
                            </div><!-- /.box-body -->
                        </div>
                    </div>
                </div>
                <!-- /#context-pane -->

                <div id="rule-pane">

                    <div class="box">
                        <div class="box-header">
                            <h4>
                                <i class="fa fa-pencil-ruler"></i>
                                Rules
                            </h4>
                            <div>
                                <button v-on:click="add_rule">
                                    <i class="fa fa-plus-circle"></i>
                                    Add Rule
                                </button>
                            </div>
                        </div><!-- box-header -->

                        <div class="box-body">
                            <div class="box-body-item matchrule" v-for="matchrule in rulepack.matchrules">
                                <div class="d-flex flex-row">
                                    <label for="rule_name">
                                        <i class="far fa-credit-card"></i>
                                    </label>
                                    <input class="rule-input" style="width:100px;" name="rule_name"
                                           v-model="matchrule.rule_name"> &nbsp;

                                    <label for="location">
                                        <i class="far fa-map"></i>
                                    </label>
                                    <select class="rule-input" style="width:50px; height: 20px; line-height: 20px;" type="text" name="location"
                                            v-model="matchrule.location">
                                        <option v-for="loc in ui.locations" v-bind:value="loc">
                                            {{ loc }}
                                        </option>
                                    </select> &nbsp;

                                    <label for="norm">
                                        <i class="fa fa-key"></i>
                                        NORM:
                                    </label>
                                    <input class="rule-input" style="width:170px;" type="text" name="norm"
                                           v-model="matchrule.norm">

                                    <button v-on:click="del_rule(matchrule.rule_name)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>

                                <div class="d-flex flex-row">
                                    <label for="regexp">
                                        <i class="far fa-keyboard"></i>
                                        RE:
                                    </label>
                                    <input class="rule-input" style="width:430px; font-family: monospace;"
                                           type="text" name="regexp" v-model=matchrule.regexp>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box -->

                </div>
                <!-- /#rule-pane -->

                <div id="rsregexp-pane" class="d-flex">
                    <div class="box-header">
                        <h4>
                            <i class="far fa-folder"></i>
                            Regular Expressions
                        </h4>
                        <div>
                            <button v-on:click="add_rsregexp">
                                <i class="far fa-file-alt"></i>
                                Add Regexp Item
                            </button>
                        </div>
                    </div>

                    <div class="d-flex flex-row flex-content-start flex-wrap">
                        <div v-for="rsregexp in rulepack.rsregexps" class="box rsregexp-file">
                            <div class="box-header">
                                <h4>
                                    <i class="far fa-file"></i>
                                    <input class="rule-input" v-model="rsregexp.name">
                                    &nbsp;
                                    {{ count_lines(rsregexp.text) }}
                                </h4>&nbsp;&nbsp;
                                <button v-on:click="del_rsregexp(rsregexp.name)">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div><!-- /.box-header -->

                            <div class="box-body">
                                <textarea class="rsregexp-text" rows="12" v-model="rsregexp.text"></textarea>
                            </div><!-- /.box-body -->
                        </div>

                    </div>

                </div>
                <!-- /#regexp-pane -->
            </div>
        </div>
    </div>

    <div id="easy-editor" class="container-fluid"
        v-if="ui.mode == 'easy'">
        <div class="row">
            <div class="cell d-flex flex-row">
                <div id="er-pane">

                    <div class="box">
                        <div class="box-header">
                            <h4>
                                <i class="far fa-edit"></i>
                                Easy Rule Editor
                            </h4>
                            <div>
                                <button v-on:click="toggle_easy_context()">
                                    <i class="fa" v-bind:class="[ui.enable_context?'fa-toggle-on':'fa-toggle-off']"></i>
                                    Contexts
                                </button>
                            </div>
                        </div>
                        

                        <div class="box-body d-flex flex-row">
                            
                            <div class="box flex-grow-1"
                                style="width: 300px;"
                                v-if="ui.enable_context">
                                <div class="box-header">
                                    <h4 title="The contexts for extracting concepts">
                                        <i class="fa fa-border-all"></i>
                                        Contexts
                                    </h4>
                                    <div>
                                        <button v-on:click="add_context">
                                            <i class="fa fa-plus-circle"></i>
                                            Add Context
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div v-for="context in easypack.contexts" class="box rsregexp-file">
                                        <div class="box-header">
                                            <h4>
                                                <i class="far fa-file"></i>
                                                <input class="rule-input" v-model="context.name">
                                            </h4>
                                            <div>
                                                <button v-on:click="del_context(context.name)">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div><!-- /.box-header -->
            
                                        <div class="box-body">
                                            <textarea class="rsregexp-text" rows="12" v-model="context.text"></textarea>
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                            <!-- /context panel -->
                            
                            <div class="er-cards flex-grow-1">
                                <div class="box" style="width: 100%;">
                                    
                                <div class="box-header">
                                    <h4>
                                        <i class="fa fa-list"></i>
                                        Rule List
                                        <span class="text-sm">({{ easypack.ergroups.length }} rules)</span>
                                    </h4>
                                    <div>

                                        <button v-on:click="add_ergroup()">
                                            <i class="fa fa-plus-circle"></i>
                                            Add New Rule
                                        </button>
                                    </div>
                                </div>

                                <div class="box-body d-flex flex-row flex-wrap justify-content-start">

                                    <div class="box er-card"
                                    v-for="ergroup in easypack.ergroups">
                                    <div class="box-header">
                                        <h4>
                                            <input class="er-card-norm" v-model="ergroup.norm"
                                                v-on:keyup="ergroup.norm=ergroup.norm.toUpperCase(); ergroup.norm=ergroup.norm.replace(/[^A-Z0-9_]/g,'');">
                                        </h4>
                                        <div class="d-flex flex-row">
                                            <select class="er-card-type" v-model="ergroup.rule_type">
                                                <option value="cm">Concept Mention</option>
                                                <option value="rem">Remove Concept</option>
                                            </select>
                                            <button v-on:click="del_ergroup(ergroup.norm)">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <textarea class="er-card-text" rows="12" v-model="ergroup.text"></textarea>
                                    </div>
                                </div>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block script %}
<!-- jszip -->
<script src="./static/lib/jszip/jszip-3.1.5.min.js"></script>
<!-- filesaver -->
<script src="./static/lib/filesaver/FileSaver.js"></script>
<!-- dayjs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.36/dayjs.min.js"></script>
<!-- brat -->
<script src="./static/lib/brat/lib/head.load.min.js"></script>

<script>

{% include 'js/fm_chfila.js' %}
{% include 'js/fig_bratvis.js' %}


var jarvis = {
    init: function() {
        fm_chfila.init();
        fig_bratvis.init();

        $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd'
        }).datepicker('setDate', new Date());
    },

    msg: function(s, cls) {
        if (typeof(cls) == 'undefined') {
            cls = 'info';
        }
        s = '<i class="fa fa-info-circle"></i> ' + s; 
        var notify = Metro.notify;
        notify.setup({
            width: 300,
            timeout: 8000,
            animation: 'swing'
        });
        notify.create(s, null, { 
            cls: cls
        });
    }
}


$(document).ready(function () {
    jarvis.init();
})
</script>
{% endblock %}